<div class="container">

<h1>Destination Info:</h1>
<h2><ul>
  <li><%= @destination.fetch("country")%> </li>
  <li><%= @destination.fetch("city") %> </li>
</ul></h2>

<% if @reviews.any? %>
<h4>Here are the reviews for this rating:</h4>
<% @reviews.each do |review| %>
<ul>
  <li>
    <%= link_to review.fetch("body"), "destinations/#{params[:id]}/reviews/#{review.fetch("id")}" %>
  </li>
</ul>
<% end %>
<% else %>
<p>No reviews are listed for this destination.</p>
<% end %>

<p><%= link_to "Add a review", "#{params[:id]}/reviews/new" %></p>

<p><%= link_to "Edit", "#{params[:id]}/edit" %></p>

<p><%= link_to "Delete destination", "#{params[:id]}",
  :data => {:confirm => "Are you sure?",
  :method => "delete"} %></p>
  <p><%= link_to "Return to destinations", destinations_path %></p>
</div>
