<h1>Destination Info:</h1>
<ul>
  <li><%= @destinations.fetch("country")%> </li>
  <li><%= @destinations.fetch("city") %> </li>
</ul>

<% if @destinations.reviews.fetch("id").any? %>
<h4>Here are the reviews for this rating:</h4>

<% @reviews.each do |review| %>
<ul>
  <li>
    <%= link_to review.fetch("body"), destination_review_path("destination_id") %>
  </li>
</ul>
<% end %>
<% else %>
<p>No reviews are listed for this destination.</p>
<% end %>

<p><%= link_to "Add a review", new_destination_review_path(@destination) %></p>

<p><%= link_to "Edit", edit_destination_path(@destination) %></p>

<p><%= link_to "Delete destination", destination_path(@destination),
  :data => {:confirm => "Are you sure?",
  :method => "delete"} %></p>
  <p><%= link_to "Return to destinations", destinations_path %></p>
